DAM-Primer-Curso/Lenguaje-de-Marcas/HojaEjercicios6/Ejercicio_1/facturasdtd.dtd

<!ELEMENT facturas (factura*)>
<!ELEMENT factura (num-fac, cod_cliente, articulo+)>
<!ELEMENT num-fac (#PCDATA)>
<!ELEMENT cod_cliente (#PCDATA)>
<!ELEMENT articulo (cod_articulo, nom_articulo, cantidad, precio)>
<!ELEMENT cod_articulo (#PCDATA)>
<!ELEMENT nom_articulo (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST factura facturaID CDATA #REQUIRED>
